<div class="content">
 <header class="junior-intro">
   <h1 class="junior-name"><i class="icon-umbrella"></i> Junior</h1>
   <p>A front-end framework for building html5 mobile apps with a native look and feel.</p>
 </header>
 <ul class="list divider-list"><li class="list-divider">Features</li></ul>
 <div class="carousel-container">
   <ul class="carousel-list">
     <li class="carousel-item native-look-and-feel">
       <summary>Transitions with a native look and feel.</summary>
       <div class="feature-icon"></div>
     </li>
     <li class="carousel-item carousel-content">
       <summary>Carousels using flickable.js</summary>
       <i class="icon-picture"></i>
     </li>
     <li class="carousel-item backbone-content">
       <summary>Integrated with Backbone.js</summary>
       <div class="feature-icon"></div>
     </li>
   </ul>
 <div class="carousel-navigation-container">
   <ul class="carousel-navigation"><li class="active" data-index="0"></li><li data-index="1"></li><li data-index="2"></li></ul>
 </div>
 </div>
 <div class="button-positive button-block show-more-button">Show me more!</div>
</div>