<header class="bar-title">
 <div class="header-animated">
   <div class="button-prev">Back</div>
   <h1 class="title">Ratchet CSS</h1>
   <div class="button-next">Next</div>
</header>
<div class="content ratchet-content">
 <p>Jr. was inspired by Ratchet and pulls in their gorgeous styles.</p>
 <p>Here are some examples:</p>
 <div class="ratchet-examples">
  <ul class="list inset">
   <li>
     <a href="#">
       List item 1
       <span class="chevron"></span>
       <span class="count">4</span>
     </a>
   </li>
  </ul>
  <div class="button-block button-main">Block button</div>
  <a class="button">Mini</a> <a class="button-main">buttons</a> <a class="button-positive">are</a> <a class="button-negative">awesome!</a>
  <div class="toggle active example-toggle"><div class="toggle-handle"></div></div>
  <div class="example-cnts"><span class="count">1</span><span class="count-main">2</span><span class="count-positive">3</span><span class="count-negative">4</span></div>
  <input type="search" placeholder="Search">
 </div>
 <p>For more examples checkout the <a href="http://maker.github.com/ratchet/">ratchet project.</a></p>
</div>